.box{
	width: 200px;
	height: 200px;
	background-color: red;
	margin: 10px;
}
p{
	width: 200px;
	height: 200px;
	background-color: green;
	margin: 10px;

}
#box{
	width: 200px;
	height: 200px;
	background-color: orange;
	margin: 10px;

}